@import './variables.scss';
@import './transition.scss';
@import './sidebar.scss';

  html,
  body,
  #app{
    height: 100%;
    background: rgba(241, 243, 247, 1);
    -moz-user-select: none; /*火狐取消选中效果*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
  }

  html {
    overflow: hidden;
    box-sizing: border-box;
    min-width: 1200px;
  }

  body {
    padding-right:0!important;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  }

.el-form-item__label{
  color: #1F2022;
}

.el-table thead{
  color: #7A8093;
}

.el-button--mini, .el-button--small{
  border-radius: 2px;
}

//表单验证-错误提示
.el-form-item__error{
  z-index: 9;
}

//全局primary按钮
  .el-button--primary{
    background: rgba(44, 109, 236, .9);
    //box-shadow: 0 2px 8px 0 #ADC8FF;
  }

//app-main视口超出
 .app-main::-webkit-scrollbar {
      width: 6px; //隐藏掉
      height: 12px;
  }

  .app-main::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(193,193,193,1);
  }

  .app-main::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #EDEDED;
  }

*,*:before,*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a,a:focus,a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
 //左侧菜单选中指示点
  .el-menu-item.is-active{
    position: relative;
  }
.el-menu-item.is-active::after{
    //content: '';
    //display: block;
    //position: absolute;
    //right: 45px;
    //top: 50%;
    //width: 6px;
    //height: 6px;
    //background: #fff;
    //border-radius: 50%;
    //transform: translateY(-50%);
}
//一级不加选中小圆点
.submenu-title-noDropdown.is-active::after{
    content: '';
    display: none;
}

.over_hidden{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.flex-align{
  display: flex;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//伪类添加标题左边框
.after_title_border {
    font-weight: 600;
    color: #1F2022;
    position: relative;
    padding-left: 8px;
  }

.after_title_border::after {
  content: "";
  display: block;
  width: 3px;
  height: 14px;
  background: linear-gradient(180deg, #358FFF 1%, #105AD2 100%);
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

//修改输入框宽度
.change-width{
  .el-input__inner,.el-input{
    width: 210px;
  }
}

//日期选择器 中间的字宽度
.el-range-separator{
  min-width: 20px;
}

//标题左边框
.t_left_line{
  position: relative;
  padding: 0 12px;
  color: rgba(31, 32, 34, 1);
  font-weight: 600;
  margin-bottom: 14px;
}
.t_left_line::after{
  content: '';
  display: block;
  width: 3px;
  height: 14px;
  background: linear-gradient(180deg, #358FFF 0%, #105AD2 100%);
  border-radius: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.el-table--mini, .el-table--small, .el-table__expand-icon{
  font-size: 14px;
}

.el-table--mini td, .el-table--mini th{
  padding: 8px;
}

.action{
  margin: 0 4px;
  color: #409EFF;
  font-size: 14px;
  cursor: pointer;
}

.delete{
  margin: 0 4px;
  color: #f56c6c;
  cursor: pointer;
  font-size: 14px;
}

.el-dropdown-menu--mini .el-dropdown-menu__item{
  line-height: 40px;
  padding: 1px 20px;
  font-size: 14px;
}

.el-table{
  color: #3A3D49;
}

.el-button--mini{
  padding: 9px 34px;
}

.el-input--mini .el-input__inner{
  height: 32px;
  line-height: 32px;
}

.el-button--success{
  background: #63C9AA;
}

.el-button--primary{
  background: #4985FE;
}

.el-submenu__title i{
  color: #ffffff;
}

.el-cascader-panel .el-radio {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
}

.el-cascader-panel .el-radio__input {
  visibility: hidden;
}

.el-cascader-panel .el-cascader-node__postfix {
  top: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 2px 2px 2px 2px;
}

::-webkit-scrollbar-button {
  display:none
}

::-webkit-scrollbar-corner {
  background-color: #d9d9d9;
}

//label超出文案的长度自定义
@each $i in 120, 160, 180 {
  .labelText#{$i} {
    width: #{$i}px;
    color: #606266;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 28px;
    position: relative;
    text-align: right;
    float: left;
    &:before{
      content: '*';
      color: #F56C6C;
      margin-right: 4px;
    }
  }
}

.el-select{
  width: 100%;
}

//label超出文案的长度自定义
@each $i in 120, 160, 180 ,100{
  .labelTextNormal#{$i} {
    width: #{$i}px;
    color: #606266;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 28px;
    position: relative;
    float: left;
    &:before{
      content: '';
      margin-right: 4px;
    }
  }
}

@each $i in 0, 4, 6, 8, 16, 20, 24, 48 {
  .ml#{$i} {
    margin-left: #{$i}px;
  }
  .mr#{$i} {
    margin-right: #{$i}px;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
  .mt#{$i} {
    margin-top: #{$i}px;
  }
}

@each $i in 0, 4, 6, 8, 16, 20, 24, 48{
  .pl#{$i} {
    padding-left: #{$i}px;
  }
  .pr#{$i} {
    padding-right: #{$i}px;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pt#{$i} {
    padding-top: #{$i}px;
  }
}

@each $i in 800,900,1000 {
  .width#{$i} {
    width: #{$i}px;
  }
}

//搜索条
.search-bar{
  background: #ffffff;
  padding: 30px 30px;
  margin-bottom: 10px;
}

//表单列表
.table-wrapper {
  font-size: 14px;
  background: #ffffff;
  padding: 20px 30px;
  .el-button {
    font-size: 14px;
  }
}

.small-title {
  border-left: 3px solid #358FFF;
  padding: 0 8px;
  font-size: 14px;
  margin-top: 0;
  font-weight: 600;
  color: #1F2022;
  margin-bottom: 8px;
}

.dot{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.dot-red{
  background: #E76851;
}

.dot-green{
  background: #42C959;
}

.dot-orange{
  background: #E76851;
}

.dot-blue{
  background: #4985FE;
}

.dot-gray{
  background:#B7BAC8;;
}

.blue-text{
  color: #4985FE;
}
.delete-btn{
  color: rgba(231, 104, 81, 1);
}
.disabled-btn{
  color: rgba(221, 140, 46, 1);
}
.modify-btn{
  color: rgba(110, 182, 53, 1);
}
